@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    font-family: "Oswald";
}

html{
    scroll-behavior: smooth;
}

/*BARRA DE TITULO*/

body{
    background-color: rgb(255, 255, 255);
}

h1{
    text-align: center;
    margin-top: 10px;
}

header{
    margin-top: 50px;
    margin-bottom: 50px;
}
header>h1{
    font-size: 34pt;
}
header>ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}