@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    font-family: "Oswald";
}

html{
    scroll-behavior: smooth;
}

/*BARRA DE TITULO*/

body{
    background-color: rgb(255, 255, 255);
}

h1{
    text-align: center;
    margin-top: 10px;
}

header{
    margin-top: 50px;
    margin-bottom: 50px;
}
header>h1{
    font-size: 34pt;
}
header>ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

header>ul>li{
    display: inline-block;
    margin-right: 20px;
    color: black;
    transition: .3s;

}

header>ul>li>a:hover{
    color: rgb(255, 255, 255);
}

header>ul>li>a:checked{
    color: black;
}


a{
    text-decoration: none;
    transition: .3s;
}
a:visited{
    color: black;
}
a:hover{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    transition: .3s;
}

header>ul>li:hover{
    transition: .7s;
    background-color: #0e1d41;
    box-shadow:  20px 20px 70px #0e2252,
             -20px -20px 70px #122e6e;
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 7px;
}



.columna1{
    height: 190px;
    float: left;
    }

.columna1{
    width: 35%;
    text-align: center;
}


.primer_parrafo{
 
    width: 70%;
    margin-left: 15%;
    text-align: justify; 
}

#tlc_tit{
    text-align: center;
    font-size: 18pt;
}

p{
    font-size: 13pt;
}

.paises{
    list-style-type: none;
    display: flex;
    margin-left: 30%;
}
.paises>li{
    margin-right: 10%;
    font-size: 14pt;
}
.imagenes_paises{
  
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    padding-left: 0px;
    text-align: center;
}

.imagenes_paises>img{
    width: 280px;
    height: 180px;
    margin: 10px;
    border-radius: 20px;
    transition: .4s;
}
.imagenes_paises>img:hover{
    width: 300px;
    height: 200px;
    transition: .4s;
}
#video_description{
    width: 60%;
    text-align: justify;
    margin-left: 20%;
}

#Section_Tabla_Informacion{
    width: 70%;
    margin-left: 15%;
}

table{
    border: 3px solid rgb(68, 95, 186);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

#tabla{
    text-align: center;
}

.encabezados>th{
    padding-left: 13px;
    padding-right: 13px;
}

.formulario{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.formulario>input[type=text]{
    font-size: 14pt;
    margin-top: 3px;
}

#titulo{
    font-size: 30pt;
}

.formulario>#comentarios_input{
    width: 80%;
    height: 800px;
    font-size: 14pt;
    padding-top: 0px;
}

.formulario>input[type=submit]{
    width: 100px;
    background-color: lightgrey;
    border-radius: 10px;
}


#btn{
    font-size: 13pt;
    background-color: white;
    transition: .4s;
}
#btn:hover{
    color:coral;
    transition: .4s;
    cursor: pointer;
    font-size: 14pt;
    border-radius: 8px;
}
@media (max-width:520px){
    p, div>p{
        margin-left: 80px;
        margin-right: 40px;
    }
    .columna1{
        display: none;
    }

    .paises{
        text-decoration: none;
        list-style-type: none;
    }
}

.section_1{
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 18pt;
    text-decoration: underline;
    font-style: italic;
}


footer{
    margin-left: 2%;
    flex: auto;
    display: flex;
}
time{
    margin-left: 2%;
}